
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 30px;
    color: #2a2a2a;
    
}

.main-container {
    text-align: center;
}

.row-container {
    display: inline-block;
    padding: 20px;
    background-color: #d7d7d7;
    border-radius: 10px;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > *:not(:last-child) {
    margin-right: 10px;
}

.row:not(:last-of-type) {
    margin-bottom: 25px;
}

.row-inuput {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.button {
    display: block;
    width: 200px;
    height: 30px;
    margin: 15px auto;
    background-color: greenyellow;
    border: 1px solid gray;
    border-radius: 10px;
    font-weight: 500;
    opacity: 0.9;
    visibility: hidden;
}

.button:hover {
    cursor: pointer;
    opacity: 1.0;
}

.button:active {
    opacity: 0.8;
}

.value {
    display: block;
    margin-top: 12.5px;
    
}