<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/game/game.css">
</head>
<body>
    
    <div class="header">
        <h3>Guess the fish!</h3>
    </div>

    <div class="main-container">

        <div class="row-container">

            <div class="row" id="row-0">
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
            </div>
    
            <div class="row" id="row-1">
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
            </div>
    
            <div class="row" id="row-2">
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
            </div>
    
            <div class="row" id="row-3">
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
            </div>
    
            <div class="row" id="row-4">
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
            </div>
    
            <div class="row" id="row-5">
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
                <div class="row-inuput"></div>
            </div>
            
        </div>

    </div>

    <button class="button">Play again</button>

    <script src="game.js" defer></script>

</body>
</html>